// 320-799
// 800+
@media(max-width: 800px){
    .section-button_mobile{
        display: flex;
    }
     .navigation-info__container{
         display: none;
     }
     .section{
         display: none;
     }
     .section__container{
        display: flex;
        flex-direction: column;
        width: 100%;
     }

     .button-arrow{
         margin-left: auto;
     }
     .section__banner{
         display: none;
     }
     .section{
         padding: 0 20px;
         padding-bottom: 10px;
         padding: 12px 20px 20px 20px;
     }
     .section__picture{
         display: none;
     }
     .work-with-us__partners{
         padding: 0 20px;
     }
     .hero{
         padding: 40px 20px;
     }
     .hero__submit{
         span{
             display: none;
         }
     }
     .hero__search-icon_mobile{
         display: block;
     }
     .hero__submit{
         height: 44px;
         width: 44px;
         background-color: #FFFFFF;
         align-items: center;
         justify-content: center;
         display: flex;
         position: absolute;
         right: 2px;
         top: 2px;

         box-sizing: border-box;
     }
     .hero__submit:hover{
         background-color: #FFFFFF;
         .hero__search-icon_mobile{
            fill:#00468575
         }
     }
     .hero__form{
         position: relative;
     }
     .hero__input{
         width: 100%;
         height: 48px;
     }
     .footer{
         flex-direction: column;
     }
     .footer__info{
         flex-direction: row;
         span:last-child{
             margin-left: 10px;
         }
         span{
             font-size: 12px;
         }
     }
     .header{
         flex-direction: row-reverse;
     }
     .header__help{
         display: none;
     }
     .hero__title{
         font-size: 20px;
     }
     .hero__subtitle{
         font-size: 12px;
     }
     .header__logo{
         width: 195px;
         height: 30px;
         img{
             width: 100%;
         }
     }
     .header__menu{
        left: auto;
        top: 40px;
        right: -24px;
     }
     .section__header_mobile{
         display: block;
     }
}