* {
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.btn-default {
  border: none;
  padding: 0;
  background: inherit;
  cursor: pointer;
  font-family: "Open Sans";
}

input::-webkit-input-placeholder {
  min-height: 100%;
}

input::-moz-placeholder {
  min-height: 100%;
}

input:-ms-input-placeholder {
  min-height: 100%;
}

input::-ms-input-placeholder {
  min-height: 100%;
}

input::placeholder {
  min-height: 100%;
}

header {
  width: 100%;
  padding: 10px 24px 10px 33px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #FFFFFF;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__menu_dextop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30px;
  height: 23px;
}

.header__menu_dextop span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #004685;
}

.header__menu_dextop:hover span {
  background: #569DDC;
}

.header__btn-help {
  width: 48px;
  height: 48px;
}

.help__icon {
  stroke: #004685;
}

.header__menu_active {
  position: relative;
}

.header__menu_active span {
  background-color: #569DDC;
  position: absolute;
}

.header__menu_active span:nth-child(2) {
  opacity: 0;
}

.header__menu_active span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  left: 0;
}

.header__menu_active span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  left: 0;
}

.help__container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 12px #00000033;
  box-shadow: 0px 3px 12px #00000033;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: -150px;
  left: -174px;
  padding: 24px 16px 24px 16px;
  width: 241px;
  display: none;
}

.help__container::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  position: absolute;
  top: -12px;
  right: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0px 3px 12px #00000033;
  box-shadow: 0px 3px 12px #00000033;
  z-index: -1;
}

.help__title {
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 0px;
  color: #000000;
}

.help__tel {
  font-size: 28px;
  font-weight: 600;
  color: #000000;
}

.help__link {
  font-size: 16px;
  text-decoration: underline;
  color: #004685;
  margin-top: 20px;
}

.help__link:hover {
  color: #569DDC;
}

.header__help {
  position: relative;
}

.header__help:hover .help__icon {
  stroke: #569DDC;
}

.header__help:hover .help__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__menu {
  position: absolute;
  height: calc(100vh - 60px);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 12px #00000029;
  box-shadow: 0px 3px 12px #00000029;
  opacity: 0.95;
  width: 280px;
  padding: 21px 16px 0 20px;
  display: none;
  left: -32px;
  top: 58px;
}

.menu__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}

.menu__btn {
  font-size: 16px;
  letter-spacing: 0px;
  color: #004685;
  opacity: 1;
  margin-top: 18px;
  text-align: left;
  text-decoration: underline;
}

.menu__howItWorks {
  margin-top: 41px;
}

.popUp-logIn__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}

.popUp-logIn__contaner {
  background-color: #FFFFFF;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popUp-logIn__exit {
  height: 48px;
  width: 48px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.exit__icon {
  fill: #569ddc;
  height: 24px;
  width: 24px;
}

.popUp-logIn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 40px 40px 40px;
}

.popUp-logIn__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 32px;
}

.popUp-logIn__title {
  max-width: 267px;
  margin-bottom: 32px;
}

.popUp-logIn__title h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0;
  color: #000000;
}

.popUp-logIn__input {
  border: 2px solid #00468533;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #00468533;
  border-radius: 8px;
  height: 60px;
  margin-bottom: 16px;
  padding-left: 24px;
  color: #000000;
  font-size: 16px;
}

.popUp-logIn__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #00000075;
}

.popUp-logIn__input::-moz-placeholder {
  font-size: 16px;
  color: #00000075;
}

.popUp-logIn__input:-ms-input-placeholder {
  font-size: 16px;
  color: #00000075;
}

.popUp-logIn__input::-ms-input-placeholder {
  font-size: 16px;
  color: #00000075;
}

.popUp-logIn__input::placeholder {
  font-size: 16px;
  color: #00000075;
}

.popUp-logIn__submit {
  margin-top: 7px;
  background: #D30531 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  height: 60px;
  width: 100%;
}

.popUp-logIn__submit:hover {
  background: #E1133F;
}

.popUp-logIn__buttoms {
  color: #004685;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-bottom: 1px dashed #004685;
}

.popUp-logIn__buttoms:hover {
  color: #569ddc;
  border-bottom: 1px dashed #569ddc;
}

.popUp-logIn__remember {
  margin-bottom: 16px;
}

.hero {
  width: 100%;
  background-image: url("../images/backgrounds/pic_main@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 92px 160px 113px 160px;
}

.hero__banner {
  margin-bottom: 20px;
}

.hero__title {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
}

.hero__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__input {
  padding: 0;
  margin: 0;
  height: 60px;
  border: 2px solid #00468533;
  border-radius: 8px;
  padding-left: 24px;
  width: 83.4%;
  padding: 19px 24px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000;
}

.hero__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #00000075;
  letter-spacing: 0px;
}

.hero__input::-moz-placeholder {
  font-size: 16px;
  color: #00000075;
  letter-spacing: 0px;
}

.hero__input:-ms-input-placeholder {
  font-size: 16px;
  color: #00000075;
  letter-spacing: 0px;
}

.hero__input::-ms-input-placeholder {
  font-size: 16px;
  color: #00000075;
  letter-spacing: 0px;
}

.hero__input::placeholder {
  font-size: 16px;
  color: #00000075;
  letter-spacing: 0px;
}

.hero__submit {
  background: #D30531 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 24px;
  width: 142px;
  height: 60px;
  margin-left: 17px;
}

.hero__submit:hover {
  background-color: #E1133F;
}

.hero__subtitle {
  margin-top: 14px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.hero__search-icon_mobile {
  display: none;
}

.hero__search-icon_mobile {
  fill: #004685;
}

.navigation-info {
  width: 100%;
  margin-top: 65px;
}

.navigation-info__container {
  max-width: 532px;
  margin: 0 auto;
}

.navigation-info__banner {
  margin-top: 10px;
}

.navigation-info__title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

.navigation-info__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 23px;
}

.links__section:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.navigation-info__link {
  margin-left: 23px;
  color: #004685;
  letter-spacing: 0px;
  font-size: 20px;
  border-bottom: 1px solid #569DDC;
  margin-top: 17px;
}

.navigation-info__link:first-child {
  margin-left: 0;
}

.navigation-info__link:hover {
  color: #569DDC;
}

.navigation-info__addition {
  margin-left: 23px;
  color: #000000;
  letter-spacing: 0px;
  font-size: 20px;
  margin-left: 23px;
  margin-top: 17px;
}

footer {
  width: 100%;
  background: #00468533;
  padding: 32px 35px 35px 31px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__info span {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

.footer__security {
  position: relative;
  height: 52px;
  width: 79px;
}

.security-img {
  width: 100%;
}

.security__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding: 60px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.legal-debts,
.registry-services {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.section:not(:last-child) {
  border-bottom: 1px solid #00468533;
}

.section__text {
  max-width: 600px;
}

.section__title {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 28px;
  line-height: 24px;
}

.section__info {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-top: 26px;
  line-height: 24px;
}

.section__info p:last-child {
  margin-top: 13px;
}

.section__body {
  margin-top: 34px;
}

.section__subtitle {
  letter-spacing: 0px;
  color: #D30531;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.section__additional-info {
  letter-spacing: 0px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.section__picture {
  position: relative;
  width: 320px;
  height: 320px;
  display: block;
}

.picture__img {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.work-with-us {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.work-with-us__banner {
  text-align: center;
  margin-bottom: 53px;
  margin-top: 63px;
}

.work-with-us__title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
}

.work-with-us__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.parnter {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner__name {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}

.fines {
  padding-bottom: 80px;
}

.legal-debts {
  padding-top: 38px;
  padding-bottom: 81px;
}

.taxes {
  padding-top: 40px;
  padding-bottom: 80px;
}

.registry-services {
  padding-top: 36px;
  padding-bottom: 90px;
}

.section__header_mobile {
  display: none;
}

.section__header_mobile h2 {
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.section-button_mobile {
  display: none;
}

.section-button_mobile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #00468533;
  display: none;
  font-size: 16px;
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
  letter-spacing: 0;
  color: #004685;
}

.section-button_mobile span {
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
}

.section-button_mobile:hover {
  color: #00468575;
}

.section-button_mobile:hover .button__icon {
  fill: #00468575;
}

.button__icon {
  height: 44px;
  width: 44px;
  fill: #004685;
}

.section-button_mobile-active {
  border-bottom: none;
}

.section-button_mobile-active .button-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .section-button_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navigation-info__container {
    display: none;
  }

  .section {
    display: none;
  }

  .section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .button-arrow {
    margin-left: auto;
  }

  .section__banner {
    display: none;
  }

  .section {
    padding: 0 20px;
    padding-bottom: 10px;
    padding: 12px 20px 20px 20px;
  }

  .section__picture {
    display: none;
  }

  .work-with-us__partners {
    padding: 0 20px;
  }

  .hero {
    padding: 40px 20px;
  }

  .hero__submit span {
    display: none;
  }

  .hero__search-icon_mobile {
    display: block;
  }

  .hero__submit {
    height: 44px;
    width: 44px;
    background-color: #FFFFFF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 2px;
    top: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .hero__submit:hover {
    background-color: #FFFFFF;
  }

  .hero__submit:hover .hero__search-icon_mobile {
    fill: #00468575;
  }

  .hero__form {
    position: relative;
  }

  .hero__input {
    width: 100%;
    height: 48px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer__info span:last-child {
    margin-left: 10px;
  }

  .footer__info span {
    font-size: 12px;
  }

  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .header__help {
    display: none;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__subtitle {
    font-size: 12px;
  }

  .header__logo {
    width: 195px;
    height: 30px;
  }

  .header__logo img {
    width: 100%;
  }

  .header__menu {
    left: auto;
    top: 40px;
    right: -24px;
  }

  .section__header_mobile {
    display: block;
  }

  .work-with-us__title {
    font-size: 20px;
  }
}